

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Phone no:</strong>
  <%= @customer.phone_no %>
</p>

<p>
  <strong>Size no:</strong>
  <%= @customer.size_no %>
</p>

<p>
  <strong>Others:</strong>
  <%= @customer.others %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
